* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background-color: rgb(2, 0, 3);
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0.5%;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    display: flex;
    list-style-type: none;
}

nav > ul:first-of-type {
    align-items: center;
    justify-content: space-between;
    gap: 1vw;
}

li {
    cursor: pointer;
}

nav > ul:first-of-type > li {
    background-color: rgb(0, 114, 214);
    padding: 3% 2.5%;
    border: 1px solid white;
}

.user {
    align-items: center;
    display: flex;
    color: white;
    font-size: medium;
}

.user > img {
    cursor: pointer;
}

nav > ul:last-of-type {
    gap: 1vw;
    margin-right: 0.5%;
}

nav > ul:last-of-type > li {
    background-color: rgb(0, 114, 214);
    padding: 5% 1.5%;
    border: 2px solid black;
    border: 1px solid white;
}

/*body {
    background-size: 1000%;
    height: 100vh;
    background-image: linear-gradient(45deg, rgb(0, 255, 157), rgb(255, 166, 0), yellow, orange, rgb(195, 0, 255), rgb(255, 0, 0));
    animation: animação 15s infinite ease;
}

@keyframes animação {
    0%{background-position: 0% 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0% 50%;}
}*/

body {
    background-color: #000000;
}

.começo {
    font-size: medium;
    display: grid;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.começo > div {
    display: flex;
    flex-direction: column;
}

.começo > img {
    width: 90%;
    height: 90%;
    margin-left: auto;
}

.meio {

    font-size: medium;
    display: grid;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    color: white;
    background-color: black;
}

.meio > img {
    width: 100%;
    height: 100%;
    margin-right: auto;
}

.meio > div {
    display: flex;
    flex-direction: column;
}

.meioSobre {
    padding-right: 1%;
}

.final {
    padding-top: 1%;
    font-size: medium;
    display: grid;
    background-color: rgb(27, 9, 77);
    color: rgb(255, 255, 255);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 0px;
}

.final > div {
    padding: 1%;
    display: flex;
    flex-direction: column;
}

.ink {
    text-align: right;
}

.ink > h1 {
    width: 81%;
}

.ink > img {
    margin-left: auto;
    width: 60%;
}

.participar {
    width: 100%;
    text-align: center;
}

.participar > ul {
    display: block;
}

.participar > ul > li {
    padding: 1%;
    border: 2px solid black;
    margin: 1% auto;
    width: fit-content;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
    background: #000000;
}

*::-webkit-scrollbar-thumb {
    background-color: #56046c;
    border-radius: 10px;
    border: 3px none #ffffff;
}

@media only screen and (max-width: 800px) {
    .ink > img {
        margin: auto;
    }
    .ink > h1 {
        width: 70%;
    } 
}