* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background-color: rgb(2, 0, 3);
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0.5%;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    display: flex;
    list-style-type: none;
}

nav > ul:first-of-type {
    align-items: center;
    justify-content: space-between;
    gap: 1vw;
}

li {
    cursor: pointer;
}

nav > ul:first-of-type > li {
    background-color: rgb(0, 114, 214);
    padding: 3% 2.5%;
    border: 1px solid white;
}

.user {
    align-items: center;
    display: flex;
    color: white;
    font-size: medium;
}

.user > img {
    cursor: pointer;
}

nav > ul:last-of-type {
    gap: 1vw;
    margin-right: 0.5%;
}

nav > ul:last-of-type > li {
    background-color: rgb(0, 114, 214);
    padding: 5% 1.5%;
    border: 2px solid black;
    border: 1px solid white;
}

body {
    background-size: 1000%;
    height: 100vh;
    background-image: linear-gradient(45deg, rgb(0, 255, 157), rgb(255, 166, 0), yellow, orange, rgb(195, 0, 255), rgb(255, 0, 0));
    animation: animação 15s infinite ease;
}

@keyframes animação {
    0%{background-position: 0% 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0% 50%;}
}

.image-grid {
    
    justify-content: center;
    margin: 2% auto 0%;
    max-width: 900px;
    display: grid;
    gap: 10px 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

}

.image-grid > img {
    border: 2px solid black;
    width: 99.3%;
    height: 99.3%;
    object-fit: cover;
    grid-row: span 1;
}

.r1 {
    grid-row: span 1;
}

.r2 {
    grid-row: span 2;
}

.c1 {
    grid-column: span 1;
}

.c2 {
    grid-column: span 2;
}

main {
    margin: 0.5% 0% 0% 0%;
    text-align: center;
}

  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #b7fa00;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }